{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <div class="row Anya">
        <center><h1 class="bg"><strong><em><u>DevGuys</u></em></strong></h1></center>    
    </div>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/"><strong>DevGuys</strong></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../registration/"><strong>Реєстрація</strong></a></li>
                    <li class="active"><a href="../login/"><strong>Логін</strong></a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div class="login-form radius">
            <form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">
                {% csrf_token %}
                    {{ form.username.label_tag }} 
                    {{ form.username }}
                    {{ form.password.label_tag }} 
                    {{ form.password }}
                <div class="text-center">
                    <input type="submit" class="btn btn-default" value="Sign In" />
                </div>
            </form>
        </div>
    </div>

</html>
