{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="margin-left: 0px;" class="navbar-brand">DevGuys</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Registration</a></li>
                    <li><a href="../login/">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="registration-form background-color">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Registration</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span></span>
                        <input type="text" class="form-control margin-for-input" placeholder="Username" aria-describedby="sizing-addon1">
                    </div>
                    <div class="input-group input-group-lg margin">
                        <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span></span>
                        <input type="text" class="form-control margin-for-input" placeholder="Email" aria-describedby="sizing-addon1">
                    </div>
                    <div class="input-group input-group-lg margin">
                        <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span></span>
                        <input type="text" class="form-control margin-for-input" placeholder="Password" aria-describedby="sizing-addon1">
                    </div>
                    <div class="input-group input-group-lg margin">
                        <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span></span>
                        <input type="text" class="form-control margin-for-input" placeholder="Confirm password" aria-describedby="sizing-addon1">
                    </div>
                    <div class="text-center">
                    <button type="button" class="btn btn-default margin">Done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>