#id_username,
#id_password {
    display: block;
    width: 100%;
    height: 34px;
    font-size: 14px;
    padding: 6px 6px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 5px;
    margin-bottom: 10px;
}

.login-form {
    margin: 20px auto;
    max-width: 350px;
    padding: 10px;
    background-color:#ecf0f1;
}

.radius {
  border: 1px solid #000000;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
label {
    font-weight: normal;
}
.Anya {
  background-color: #2980b9;
}