.decoration:hover{
	text-decoration: none;
}
.decoration:visited{
	text-decoration: none;
}
.decoration:active{
	text-decoration: none;
}
.decoration:focus{
	text-decoration: none;
}
.margin-for-likes {
	float: right;
}
.Anya {
	background-color: #2980b9;
	margin-top: 5px;
}