{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Django</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>

<body>
    <h1>DevGuys Blog</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Enter title">
        <input type="text" name="text" placeholder="Enter text">
        <input type="submit" value="Add article">
    </form>
    {% for article in articles %}
    <p>{{ article.article_title }}</p>
    <p>{{ article.article_text }}</p>
    <p>{{ article.article_date }}</p>
    {% endfor %}
</body>

</html>
