{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="row Anya">
        <center><h1 class="bg">DevGuys</h1></center>    
    </div>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class=""><a href="/"><strong>Home</strong></a></li>
                    <li class="active"><a href="../new/"><strong>Create new article</strong></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">          
                    {% if user.is_authenticated %}
                        <li><a href="../logout/"><strong>Logout</strong></a></li>
                    {% else %}
                        <li><a href="../registration/">Registration</a></li>
                        <li><a href="../login/">Login</a></li>      
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">
        {% if user.is_authenticated %}
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" name="title" placeholder="Enter title">
                <input type="text" name="text" placeholder="Enter text">
                <input type="submit" value="Add article">
            </form>
        {% else %}
            <div class="alert alert-warning text-center" role="alert">
                To add new articles - please <a href="../login/">log in</a>
            </div>
        {% endif %}
    </div>
</body>
</html>