{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>New article</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                     <li><a href="/"><i class="glyphicon glyphicon-home" aria-hidden="true"></i></a></li>
                    <li class="active"><a href="../new/"><strong>Створити нове повідомлення</strong></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">          
                    {% if user.is_authenticated %}
                        <li><a href="../logout/"><strong>Вийти</strong></a></li>
                    {% else %}
                        <li><a href="../registration/"><strong>Реєстрація</strong></a></li>
                        <li><a href="../login/"><strong>Логін</strong></a></li>      
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% if user.is_authenticated %}
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" class="form-control" placeholder="Enter title" name="title">
                <textarea class="form-control form-control1" rows="3" placeholder="Enter text" name="text"></textarea>
                <button class="btn btn-primary margin-for-btn" type="submit">Add article</button>
            </form>
        {% else %}
            <div class="alert alert-danger text-center" role="alert">
                <p>Щоб додати нові повідомлення - будь ласка, увійдіть <a href="../login/">login</p></a>
            </div>
        {% endif %}
    </div>
</body>
</html>